<div class="grid-x grid-margin-x">
    <div class="large-12 cell">
        <h4>Список абонентов, сгруппированный по тарифному плану и отсортированный по фамилии</h4>
        <div class="cell large-12">
            <a href="<%= '/subscribers' %>" class="button secondary">Вернуться к главной странице</a>
            <p>Для того чтобы вывести полный список абонентов заданного тарифного плана<br>и расчитать оплату за последний месяц, щёлкните на "Подробнее" внизу таблицы. </p>
        </div> 
        <h5>Безлимитный тариф</h5>
        <ul>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>6-значный<br>номер телефона</th>
                        <th>Общее количество минут телефонных<br>разговоров за последний месяц</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    <%@subscribers_unlimited[0,5].each do |subscriber|%>
                    <tr>
                        <td><%= subscriber.name %></td>
                        <td><%= subscriber.surname %></td>
                        <td><%= subscriber.telephone %></td>
                        <td><%= subscriber.minutes %></td>
                        <td><a href="/subscribers/<%= subscriber.telephone %>">Смотреть</a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </ul>
        <p><a href="/subscribers/groups/1">Подробнее...</a></p>
        <h5>Комбинированный тариф</h5>
        <ul>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>6-значный<br>номер телефона</th>
                        <th>Общее количество минут телефонных<br>разговоров за последний месяц</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    <%@subscribers_combined[0,5].each do |subscriber|%>
                    <tr>
                        <td><%= subscriber.name %></td>
                        <td><%= subscriber.surname %></td>
                        <td><%= subscriber.telephone %></td>
                        <td><%= subscriber.minutes %></td>
                        <td><a href="/subscribers/<%= subscriber.telephone %>">Смотреть</a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </ul>
        <p><a href="/subscribers/groups/2">Подробнее...</a></p>
        <h5>Повременный тариф</h5>
        <ul>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>6-значный<br>номер телефона</th>
                        <th>Общее количество минут телефонных<br>разговоров за последний месяц</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    <%@subscribers_timed[0,5].each do |subscriber|%>
                    <tr>
                        <td><%= subscriber.name %></td>
                        <td><%= subscriber.surname %></td>
                        <td><%= subscriber.telephone %></td>
                        <td><%= subscriber.minutes %></td>
                        <td><a href="/subscribers/<%= subscriber.telephone %>">Смотреть</a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </ul> 
        <p><a href="/subscribers/groups/3">Подробнее...</a></p>
</div>